/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./resources/scss/login.scss ***!
  \************************************************************************************************************************************************/
@charset "UTF-8";
.page__login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page__login .login-container {
  padding: 40px;
  border-radius: 16px;
  background: linear-gradient(to bottom, #191f22 0%, #2e3539 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  min-width: 300px;
}
.page__login .login-container .error-message {
  color: #901212;
  margin: 0px;
}
.page__login .login-container .text-reg {
  color: #fff;
}
.page__login .login-container .login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page__login .login-container .login-form .input-container label {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  height: 45px;
}
.page__login .login-container .login-form .input-container label svg {
  width: 25px;
  margin: auto;
}
.page__login .login-container .login-form .input-container label input {
  border: none;
  background: none;
  border-bottom: 0.2px solid #303b41;
  width: 100%;
}
.page__login .login-container .login-form .input-container label input:focus {
  box-shadow: none;
  outline: none;
}
.page__login .login-container .login-form button {
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.page__login .login-container .login-form button:hover {
  border: none;
  outline: none;
  background: linear-gradient(135deg, #8e2de2, #4a00e0, #00c6ff);
}
.page__login .login-container .login-form button:hover::before {
  left: 105%;
}
.page__login .login-container .login-form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -95%; /* Começa a pseudo-classe fora do botão */
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Um brilho branco semi-transparente */
  transform: skewX(-30deg);
  transition: all ease 0.5s;
  z-index: -1;
}
.page__login .login-container .login-form .text-reg {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
